<div class="toolbar" role="banner">
  <img class="title-image" src="./assets/logo-white.png" />
</div>

<div class="content" role="main">
  <div class="container">
    <h1>Apeldoorn Assistants</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate non mi at accumsan. Phasellus est lorem, hendrerit sit amet scelerisque nec, ullamcorper quis lorem. In porttitor bibendum leo non aliquam. Pellentesque pellentesque interdum aliquam. Nunc convallis nibh neque, nec commodo leo tempor nec.</p>
    <h3>Planning</h3>
    <ul class="planning-table">
      <li class="planning-header">
        <div>Tijd</div>
        <div>Activiteit</div>
      </li>
      <li class="planning-row">
        <div>9:30 - 10:30</div>
        <div>Introductie</div>
      </li>
    </ul>
    <p>Pellentesque semper dolor at nunc rutrum condimentum. Vivamus dapibus euismod lectus, eu varius nibh condimentum at. Nullam rhoncus quam id sagittis blandit. Aliquam erat volutpat. Curabitur pharetra purus sit amet porta porta. Maecenas quis magna iaculis, dapibus diam vitae, imperdiet lectus. Phasellus viverra auctor consequat. Aenean lacinia gravida elit, sit amet congue ex posuere molestie.</p>
  </div>
  <footer>
    <p class="footer-text">Copyright © 2021 Luminis.</p>
  </footer>
</div>

<router-outlet></router-outlet>
