footer {
  position: fixed;
  bottom: 0;
  height: 96px;
  width: 100%;
  background-color: #F7931D;

  @media screen and (max-width: 375px){
    position: static;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7931D;
  height: 96px;
  width: 100%;
  padding: 0;
}

.title-image {
  height: 36px;
  margin: auto;
}

.container {
  margin: 0 25%;

  @media screen and (max-width: 1023px){
    margin: 0 1.5rem;
  }
}
