/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/caecilia/style';

@mixin blissProTextSettings {
  font-family: 'Bliss Pro';
  font-size: 1rem;
}

@font-face {
font-family: 'Bliss Pro';
font-style: normal;
font-weight: normal;
src: local('BlissPro-Regular.otf') format('otf');
}

body {
  margin:0;
}

h1, h2, h3 {
  font-family: 'Caecilia LT Pro 55 Roman';
  color: #3D183D;
  margin-bottom: 0;
}

label {
  @include blissProTextSettings;
  color: #3D183D;
  font-weight: bold;
}

p {
  @include blissProTextSettings;
  margin-top: 0.25rem;
}

ul, li, span, label {
  @include blissProTextSettings;
}

thead {
  text-align:left;
  color: #3D183D;
}

th {
  width: 128px;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  height: 36px;
  width: 96px;
  background-color: #3D183D;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-family: 'Bliss Pro';
  font-size: 1rem;
  margin-top: 0.5rem;
}
