<div class="content-container">
  <h1>BKA Assistants</h1>
  <!-- <p>Oeps, zomaar geklikt! Alles gecheckt?</p> -->
  <p>Gerard Verbeek, directeur Luminis Apeldoorn, start met een introductie over 'wat' wij nu eigenlijk doen bij Luminis en geeft een korte presentatie met als onderwerp....... :)</p>
  <h3>Planning</h3>
  <ul class="planning-table">
    <li class="planning-header">
      <div>Tijd</div>
      <div>Activiteit</div>
    </li>
    <li class="planning-row">
      <div>16:00 - 16:15</div>
      <div>Inloop en aanvang</div>
    </li>
    <li class="planning-row">
      <div>16:15 - 16:45</div>
      <div>Introductie en presentatie</div>
    </li>
    <li class="planning-row">
      <div>16:45 - 17:30</div>
      <div>Hapje en een drankje</div>
    </li>
  </ul>
  <div class="location">
    <div class="location-content">
      <p class="column-name"><b>Adres:</b></p>
      <p class="column-content">Luminis Apeldoorn, Wapenrustlaan 11, Apeldoorn</p>
    </div>
    <div class="location-content">
      <p class="column-name"><b>Parkeren:</b></p>
      <p class="column-content">kan voor de deur, bij geen ruimte is er voldoende plek om de hoek.</p>
    </div>
    <div class="location-content">
      <p class="column-name"><b>Coronaspelregels conform de richtlijnen van het RIVM:</b></p>
      <p class="column-content">We volgen de richtlijnen van het RIVM, dus neem je QR code mee en blijf thuis bij klachten.</p>
    </div>
  </div>
  <p class="signature">Mocht het onverhoopt niet doorgaan, dan willen wij je snel kunnen bereiken. Laat daarom je telefoonnummer achter in onderstaand formulier.</p>
  <h3>Contact formulier</h3>
  <div class="register-form" [formGroup]="registerForm">
    <label for="name">Naam</label>
    <input id="name" type="text" formControlName="name"/>
    <label for="phone">Telefoonnummer</label>
    <input id="phone" type="text" formControlName="phone"/>
    <button type="submit" (click)="sendForm()">Versturen</button>
  </div>
  <p class="signature">Leuk om je te ontmoeten op 13 april!<br/><br/>
    Hartelijke groet, Wendy, Maureen, Ine en (Melinda).</p>
  </div>
