<h1>BKA Assistants</h1>
<p>Na een introductie van Luminis, geeft Gerard Verbeek een introductie over 'wat' wij nu eigenlijk doen bij Luminis en een korte presentatie met als thema 'Phishing'.</p>
<h3>Planning</h3>
<ul class="planning-table">
  <li class="planning-header">
    <div>Tijd</div>
    <div>Activiteit</div>
  </li>
  <li class="planning-row">
    <div>16:00</div>
    <div>Inloop en aanvang</div>
  </li>
  <li class="planning-row">
    <div>16:15 - 16:45</div>
    <div>Presentatie</div>
  </li>
  <li class="planning-row">
    <div>16:45 - 17:30</div>
    <div>Hapje en een drankje</div>
  </li>
</ul>
<div class="location">
  <div class="location-content">
    <p class="column-name"><b>Adres:</b></p>
    <p class="column-content">Luminis Apeldoorn, Wapenrustlaan 11, Apeldoorn</p>
  </div>
  <div class="location-content">
    <p class="column-name"><b>Parkeren:</b></p>
    <p class="column-content">kan voor de deur, bij geen ruimte is er voldoende plek om de hoek.</p>
  </div>
  <div class="location-content">
    <p class="column-name"><b>Coronaspelregels conform de richtlijnen van het RIVM:</b></p>
    <p class="column-content">QR-code of negatieve test, bij klachten thuisblijven. We gaan het niet controleren, het is je eigen verantwoordelijkheid.</p>
  </div>
</div>
<p class="signature">Leuk om je te ontmoeten op 23 november!<br/><br/>
  Hartelijke groet, Wendy, Maureen en Ine.</p>
<h3>Contact formulier</h3>
<p>Vul hier uw gegevens in</p>
<div class="register-form" [formGroup]="registerForm">
  <label for="name">Naam</label>
  <input id="name" type="text" formControlName="name"/>
  <label for="phone">Telefoonnummer</label>
  <input id="phone" type="text" formControlName="phone"/>
  <button type="submit" (click)="sendForm()">Versturen</button>
</div>
